body {
	margin: 0;
	padding: 0;
	background-color: #e53d4e;
	font-family: 'Concert One', cursive;
}

ul {
	list-style-type: none;
	font-size: 16px;
}
label {
	font-size: 20px;
	font-weight: bold;
	color: #4a85e2;
}
.selector {
	width: 90%;
	padding: 10px;
	height: 30px;
	outline: none;
	border: none;
	background: #db4848;
	color: white;
}
.header {
	width: 100%;
	height: 80px;
	color: white;
	text-align: center;
	position: relative;
	z-index: 1;
}
.header h1 {
	margin-top: 15px;
}
.skew:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 250px;
  background: #4a85e2;
  z-index: -1;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}

.orderB {
	width: 90%;
	height: 35px;
	background: #db4848;
	border: none;
	color: white;
	padding: 5px;
	font-size: 16px;
}
.order-details {
	width: 70%;
	margin: auto;
}
.makeOrder {
	color: white;
	width: 40%;
	padding: 15px;
	background-color: rgba(0, 0, 0, .8);
}

#orderIn {
	height: 100%;
	max-height: 100%;
	margin-top: 30px;
	margin-left: 80px;
	color: white;
}
#order {
	margin-left: -35px;
  font-size: 20px;
  font-weight: bold;
  background: none;
  color: #4a85e2;
}
#order:hover {
	cursor: pointer;
}
#show-order {
	display: none;
	color: white;
	height: 250px;
	width: 100%;
  padding: 2em;
  background: #4a85e2;
  margin-top: 10px;
}
#image {
	margin-top: 10px;
}
#image img {
	width: 150px;
	height: 150px;
}
#cost {
	position: relative;
  font-size: 20px;
  bottom: 45px;
  left: 392px;
}
