body {
	color: orange;
	background-color: orange;
}
h1 {
	text-shadow: 1px 1px 1px black;
	text-align: center;
}
h2 {
	text-shadow: 1px 1px 1px black;
}
ul {
	list-style-type: none;
	text-shadow: 1px 1px 1px black;
	font-size: 16px;
}
p {
	text-shadow: 1px 1px 1px black;
}
.radio{
	text-shadow: 1px 1px 1px black;
}
.order {
	cursor: pointer;
	color: orange;
}
.order:hover {
	text-shadow: 1px 1px 1px black;
	text-decoration: underline;
}
.jumbotron {
	background-color: red;
	color: orange;
	box-shadow: 1px 1px 1px black;
}
#show-order {
	display: none;
}
